@font-face {
  font-family: "Mouse Deco";
  src: local("Mouse Deco"), url("./Fonts/Mouse_Deco.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Mouse Deco";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Mouse Deco";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
